*{
	margin: 0;
	padding: 0;
}
.fondopagina {
	background-color: rgba(64, 207, 255,0.15);
	background-image: ;
}

.encabezado, .menudecontenido , footer {
	background-color:rgba(181, 178, 178,0.50);
	width: 80%;
	max-width: 1000;
	padding: 10px;
	margin: 20px auto;
	}

.encabezado {
	border-color: green;
	border-width: 3px;
	border-style: solid;
}

#logotexto {
	display: flex;
	justify-content: center;
	align-items: center;
}


#TITULOPRINCIPAL{
	text-align: center;
}

.C {
	color: #008000;
	font-family: Rockwell;
}

 .T {
 	color: white;
 	font-family: Rockwell;

 }
.MENUDEOPCIONES{
	background-color:#00008B;
	overflow: hidden;

}

#opcion {
	background-color:#00008B;
	 list-style: none;
	 float:right;
}

#enlaces {
	padding: 10px 20px;
	display: block;
	color: white;
	text-decoration: none;

}

#opcion:hover {
background-color:blue;
transition: background-color 2s;
}

 #pqui {

 	font-family: Bahnschrift SemiBold SemiConden ;

 	font-size: 25px ;
 }
 

 #ing {

 	font-size: 40px;
 	font-family: Noto Serif;
 }

 #lista {

 	font-family: DejaVu Sans Mono;
 	font-size: ;
 }

 #car {

 	font-family: Bauhaus 93;
 	font-size: 20px;
 }